#buttons button {
    align-items: center;
    justify-content: center;
    width: 110px;
    background: #555;
    color: white;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #777;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

#buttons button:hover {
    background: #777;
}

#ui-blocker-overlay {
    position: fixed;
    top: 60px; /* assumes top bar is 60px tall */
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: transparent;
    z-index: 900; /* below floating windows like settings/message log */
    pointer-events: all;
  }
  
  #ui-blocker-overlay.hidden {
    display: none;
  }